
<%- contentFor('#about')%>

<div id="about">
    <div class="block app-block-intro">
      <div class="container text-center">
        <h1 class="block-title m-b-sm app-myphone-brand">People Screen, Inc</h1>
        <p class="lead m-b-lg p-b-md">Task management and a calendar for all</p>
        <img src="/img/iphone-to-iphone-sized.jpg">
      </div>
    </div>

    <div class="block block-bordered-lg">
      <div class="container text-center app-translate-15" data-transition="entrance">
        <blockquote class="pull-quote">
          <img class="img-circle" src="/img/lilwayne.jpg">
          <p>
            “Task management. Calendars. Email. They all have one thing in common&hellip;literally no one enjoys managing them. Thanks to years of research, we can now predict every single thing you'll ever have to do or go to. Yeah, we're that good.”
          </p>
          <cite>Jerry, Creator of People Screen, Inc</cite>
        </blockquote>
      </div>
    </div>

    <div class="block block-bordered-lg p-b-0 app-block-stats">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-6">
            <img
              src="/img/iphone-perspective-sized.jpg"
              class="app-translate-5"
              data-transition="entrance">
            <hr class="m-t-0 m-b-lg m-x-auto visible-xs">
          </div>
          <div class="col-md-5 col-sm-6 text-xs-center text-sm-left">
            <p class="lead">
              We've been working for over 100 years to build the best possible app for all your needs. We're glad that others agree.
            </p>
            <div class="row m-y-md">
              <div class="col-xs-6">
                <div class="statcard">
                  <h1 class="statcard-number block-title">92m</h1>
                  <span class="statcard-desc">Downloads</span>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="statcard">
                  <h1 class="statcard-number block-title">8m</h1>
                  <span class="statcard-desc">Reviews</span>
                </div>
              </div>
            </div>
            <div class="row hidden-sm">
              <div class="col-xs-6 m-b-lg">
                <div class="statcard">
                  <h1 class="statcard-number block-title">78k</h1>
                  <span class="statcard-desc">Developers</span>
                </div>
              </div>
              <div class="col-xs-6 m-b-lg">
                <div class="statcard">
                  <h1 class="statcard-number block-title">97%</h1>
                  <span class="statcard-desc">Happiness</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

